<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>HOME</h1>
      <nav>
        <a href="/users/login"><p>Login User</p></a>
        <a href="/users/register"><p>Register User</p></a>
      </nav>
    </header>
    <h2>Article App</h2>
    <button><a href="/article">Go to Article</a></button>
  </body>
</html>
