<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title of the page  -->
    <title>Login Form</title>

    <!-- link stylesheet -->
    <link rel="stylesheet" href="/stylesheets/loginForm.css" />
  </head>
  <body>
    <!-- header  -->
    <header>
      <a href="/users" class="home-btn">
        <h1>User</h1>
      </a>
      <a href="/users/register" class="head-btn"><p>Register User</p></a>
    </header>

    <!-- login form  -->
    <form action="/users/login" method="post">
      <h2>Login Form</h2>
      <% if(error){ %>
      <p class="error-1"><%= error%></p>
      <% } %>
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit">Login User</button>
    </form>
  </body>
</html>
