<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title of the page  -->
    <title>User Page</title>

    <!-- link stylesheet -->
    <link rel="stylesheet" href="/stylesheets/users.css" />
  </head>
  <body>
    <!-- header  -->
    <header>
      <h1>User</h1>
      <nav>
        <a href="/users/login"><p>Login User</p></a>
        <a href="/users/register"><p>Register User</p></a>
      </nav>
    </header>
    <h1>Welcome to HomePage🙋</h1>
  </body>
</html>
